.App {
  background-color: #b4ce9d;
  height: 100vh;
  padding: 64px;
}

.App-body {
  background-color: white;
  border-radius: 16px;
  height: 100%;
}

.truncate-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}